{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-rational-order",  "stylelint-config-prettier"],
  "plugins": ["stylelint-order"],
  "ignoreFiles": "./build/css/**/*.css",
  "rules": {
    "selector-class-pattern": null
  }
}