// colors

$bg-color-base: #fff;
$text-color-base: #615940;

// fonts

$font-family-muller: "Muller", sans-serif;
$font-family-base: $font-family-muller;
$font-size-base: 16px;
$line-height-base: 1.5;
$font-weight-base: 400;
$font-style-base: normal;

// container

$container-max-width: 1170px;
$container-padding: 15px;
$container-width: $container-max-width + ($container-padding * 2);

// breapoints

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

// min width

$min-width: 320px;
